h1{
	background-color: #e6c602;
}


li{
	color: red
}

#entete, #menuv, #contenu, #footer {
	padding: 1px 0;
}

#entete {
	background-color: #383838;
	text-align: center;
}

#main {
	max-width:100%;
	margin: auto;
}



#contenu {
	height: 80%;
	text-align: center;
	background-color:  #636363;
}

#footer {
	background-color: #032088;
	text-align: center;
	clear:both;
	height: 150px;
}

.menu {
	display: flex; /*transformation en flexbox*/
	padding:0;
	margin: 0; /*rajout*/
	border-color: #383838;
	background-color: #FFFFFF;
	text-align:center;
	border-radius:8px 8px 8px 8px;/*ajout*/
}
nav ul {
    list-style: none;
    padding:0;
    margin: 0;
    text-decoration: none;
    border: 0.5px solid #FFFFFF;
    border-radius: 4px;
}
nav ul:hover ul
{
    position: absolute;
}
.menu li {
	list-style-type: none; /*suppression des puces*/
}

nav ul li {
    margin: 0px 3px 0px 3px ;
    padding: 0;
    border: 0px solid #FFFFFF;
    display: inline-block;
    width: 200px;
    height: 40px;
    background-color: #383838; /*couleur des coins effaces*/
    line-height: 40px;
    text-align: center;
    position: relative;
    text-decoration: none;
}
 
nav ul li a
{
    display: block;
    min-width: 150px; /*largeur minimale des blocks*/
    text-decoration: none;

    color: white;
    background-color:  #032088 ;
    border: 0px solid #FFFFFF;
    border-radius: 10px;
}

nav ul li a:hover
{
    background-color: orange;
    color: black;
    text-decoration: none;
}

nav ul li ul li
{
    display: none;
    text-decoration: none;
    
}
nav ul li:hover ul li
 {
    display: block;
 
 }


.menu {
	display: flex;
	padding: 4px; /*marge du bas de banderole*/
	background-color: #383838 ; /*couleur de la banderole*/
	justify-content: center;
}

.menu a:hover {
	background-color: #fe83c0;
	color: #000000;
	border-color: #000000;
}

#contenu table {
	border: 5px #032088 dashed;
	border-radius: 10px;
	margin-bottom: 50px;
	padding: 20px;
	width:60%;
	}
	


#menu ul li a:hover {
	background-color: #faf1a2;
	 font-size: 20px;
    	color: black;
    	text-decoration: none;
	}
	
.niveau1 li {
	font-size:18px;
	color: black;
	list-style-type: none;
	text-decoration: none;
}

.niveau1 ul li a {
	    text-decoration: none;
	    color: black;
	    }

.niveau1 ul li a:hover
{
    background-color: #faf1a2;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.niveau2 li {
	font-size:18px;
	color: black;
    	text-decoration: none;
}

.error {
  border:2px solid red;
}

button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: #032088;
    color: honeydew;
}
 
/*apply hover effect to button tag*/
 
 button:hover {
    background-color: #fe83c0;
    color: black;
}
